@font-face {
    font-family: "MADE Evolve Sans";
    src: url('../font/Madeevolvesansbold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "MADE Evolve Sans Evo";
    src: url('../font/Madeevolvesansevolight.woff') format('woff'),
         url('../font/Madeevolvesansevolight.woff2') format('woff2'),
         url('../font/Madeevolvesansevolight.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url('../font/Segoeuiregular.woff') format('woff'),
         url('../font/Segoeuiregular.eot') format('eot'),
         url('../font/Segoeuiregular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.prototype {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.3;
}

/* header */

header {
  position: relative;
  width: 100%;
  font-family: "MADE Evolve Sans", Arial, sans-serif;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 21.9%;
}

.header-title {
  position: absolute;
  width: 100%;
  opacity: 0.3;
}

.main-title {
  position: relative;
  margin-top: 16.2%;
  margin-left: 8.2%;
  font-size: 6.1rem;
  letter-spacing: 0.9px;
  word-spacing: -2px;
}

.course-select-btn {
  position: relative;
  margin-top: 0.8%;
  margin-left: 8.1%;
  padding-top: 1%;
  padding-left: 3.6%;
  padding-bottom: 0.85%;
  padding-right: 3.6%;
  font-family: "MADE Evolve Sans Evo", Arial, sans-serif;
  font-size: 2.5rem;
  background-color: #FFA4CC;
  border-radius: 46px 46px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.16);
}

.main-menu {
  display: flex;
}

/*.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 7.85%;
  min-width: 55%;
  margin-left: 33%;
  margin-right: 13%;
  background-color: blue;
  opacity: 0.3;
}
*/

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 7.9%;
  min-width: 55%;
  margin-left: 33%;

}

.menu-item {
  font-size: 1.55em;
  color: #444444; 
}
/*
.menu {
  display: flex;
  padding-top: 7.85%;
  padding-left: 33%;
  background-color: red;
  opacity: 0.3;
}

.menu-item {
  font-size: 1.55em;
  padding-right: 8.7%;
  color: #444444;
}

.menu-item:last-child {
  padding-left: 0.1%;

}

.menu-item {

}
*/


.search-and-account {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 7%;
  min-height: 30.3em;

}

.search-icon {
  width: 45%;
  margin-top: 108%;
  margin-bottom: 7.65em;
}

.account-btn {
  width: 11.7em;
  margin-left: 3%;
  padding-top: 13px;
  padding-left: 45.5px;
  padding-bottom: 17px;
  padding-right: 20px;
  font-size: 1.35em;
  letter-spacing: 0.8px;
  word-spacing: -1.5px;
  background-color: #FFD965;
  border-radius: 30px 30px;
  /* !!! В ОТДЕЛЬНЫЙ ФАЙЛ ДЛЯ КРОССБРАУЗЕРНОСТИ !!! 
  -moz-transform: rotate(90deg); Для Firefox 
  -ms-transform: rotate(90deg); Для IE
  -webkit-transform: rotate(90deg); Для Safari, Chrome, iOS
  -o-transform: rotate(90deg); Для Opera */
  transform: rotate(90deg);
}

/* section */

section {
  position: absolute;
  top: 18.2%;
  width: 100vw;
}

.account-menu {
  display: flex;
  margin-left: 7.2%;
  margin-right: 11.3%;
  color: rgba(68, 68, 68, 1);
  box-shadow: 10px 10px 20px rgba(255, 217, 101, 0.4); 
}

.menu-nav {
  width: 19.7%;
  border: 1px solid #FFD965;
}

.student-img {
  width: 150px;
  margin-top: 40%; 
  margin-left: 25%;
  margin-right: 25%; 
}

.menu-btns {
  margin-top: 10%;
  background-color: green;
}

.menu-dot {
  width: 10px;
  hight: 10px;
  background-color: #FFD965;
}

.menu-line {
  width: 1px;
  background-color: #FFD965;
}

.menu-item {
  
}
